@use 'base/variables' as v;
@use 'base/mixins' as m;

.about-festival{
    @include m.container;

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.content-festival {

    margin-top: 5rem;

    h2 {
        margin-bottom: 2rem;
    
    }

    .date {
        color: v.$green;
        font-weight: 700;
    }

}